* {
    margin: 0;
    padding: 0;
    box-sizing: Border-box;
}

body {
    line-height: 1.7;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

.container-inner {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-top {
    position: sticky;
    top: 0;
    padding: 5px 0;
    background-color: #f1f1f1;
}

ul.list {
    list-style-type: none;
    display: flex;
    gap: 24px;
    align-items: baseline;
}

.text-gray {
    text-decoration: none;
    color: #808080 !important;
    font-family: monospace;
    font-size: 17px;
}

.button-right {
    text-decoration: none;
    padding: 5px 20px;
    color: #fff;
    border: 1px solid #10a1d6;
    background-color: #10A1D6 !important
}

.header-nav {
    max-height: 70px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 100;
    background-color: #fcfcfc;

    padding: 10px;
}

.list-nav {
    list-style-type: none;
    overflow: hidden;
    margin-left: -200px;
}

.list-nav li {
    float: left;
}

.list-nav li a:not(.active) {
    padding: 12px 14px;
    display: block;
    color: #808080;
    text-align: center;
    text-decoration: none;
    transition: 0.3s ease-in-out;

}

.list-nav li a:hover:not(.active) {
    color: white;
    background-color: #10A1D6
}

.active {
    background-color: #10A1D6;
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 12px 14px;
}
.slider{
   max-width: 1300px;
    
}
.list-img{
   display: inline;
    overflow: hidden;
}
.header-slider{
    width: 100%;
    height: 953px;
}
.header-slider >img{
    width: 100%;
    height: 100%;
}
.media-body{
    width: 1350px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin: auto;
}
.media-body > .item-news{
    text-align: center;
    margin: 10px;
    position: relative;
}
.media-body > .item-news > img{
    width: 100%;
    height: 200px;
    display: block;
    margin: auto;
    
    
}
.media-body > .item-news::before{
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    background-color: rgba(239, 229, 229, 0.176);
    z-index: 1;
    top: 0;
    left: 0;    
    transition: all 0.5s ease;
}
.media-body > .item-news:hover::before{
    width: 100%;
    height: 200px;
    color: #10a1d6;
}
.media-body > .item-news::after{
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    background-color: rgba(239, 229, 229, 0.176);
    z-index: 1;
    bottom: 110px;
    right: 0;    
    transition: all 0.5s ease;
}
.media-body > .item-news:hover::after{
    width: 100%;
    height: 64%;
    color: #10a1d6;
}
.media-body > .item-news > span{
   padding: 10px ;
   display: block;
   background-color: #f1f1f1;
   min-height: 110px !important;
   pointer-events: stroke; 
}
.media-body > .item-news > span > h2{
    transition: 0.3s;
}
.media-body > .item-news > span > h2:hover{
    color: #10A1D6;
    cursor: pointer;
}
.content-body{
    max-width: 1300px;
    margin: 0 auto;
}
.title{
    max-width: 1300px;
    margin: 0 auto;
}
.content1{
    float: left;
    font-size: 16px;
}
.phapLuat{
    border-left: 7px solid #10A1D6;
    padding:10px 20px;
    height: 100px;
    margin-top: 150px;
    margin-bottom: 30px;
}
.phapLuat span{
    padding: 5px;
    width: 100%;
    text-transform:uppercase;
}
.phapLuat h2{
    padding: 5px;
    width: 100%;
    text-transform:uppercase;
    font-size: 40px;
    font-weight: 500;
}
.luatSu{
    border-right: 7px solid #10A1D6;
    padding:10px 20px;
    height: 100px;
    text-align: right;
    margin-bottom: 150px;
    
}
.luatSu span{
    padding: 5px;
    width: 100%;
    text-transform:uppercase;
    font-size: 20px;
}
.luatSu h2{
    padding: 5px;
    width: 100%;
    text-transform:uppercase;
    font-size: 40px;
    font-weight: 500;
}
.people{
    max-width: 1400px;
    margin: auto;
    display: grid;
    grid-template-columns: 50% 50%;

    
    
}
.thongtin .thongtin1 h1{
    font-size: 20px;
    color: #10A1D6;
}
.thongtin{
    padding-left: 10px;
    padding-top: 30px;
    
}
.lsu:before{
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    background-color:rgba(239, 229, 229, 0.176) ;
    position: absolute;
    transition: all 0.5s ease;
}
.lsu:hover:before{
    width: 350px;
    height: 100%;
    
}
.lsu::after{
    content: "";
    bottom: 0;
    right: 350px;
    width: 0;
    height: 0;
    background-color:rgba(239, 229, 229, 0.176) ;
    position: absolute;
    transition: all 0.5s ease;
}
.lsu:hover::after{
    width: 350px;
    height: 100%;
    
}
.lsu{
    display: flex;
    height: 364px;
    margin: 10px;
    position: relative;
}
.lsu .imge{
   width: 350px;
    height: 100%;
    margin-right: 20px;
}
.lsu .imge img{
    width: 330px;
     height: 100%;
 }
 .lsu .thongtin{
    width: 400px;
 }
 .banner{
    background-color: rgb(250, 250, 250);
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
 }
 .banner img{
    height: 300px;
    width: 100%;
    opacity: 0.7;
 }
 .banner-content{
    position: absolute;
    top: 30%;
    text-align: center;
    justify-content: center;
    margin-left: 35%;

    
 }
 .banner-content p{
    font-size: 20px;
    font-weight: 500;
 }
 .banner-content p span{
    color:#10A1D6;
 }

.container-footer {
    margin: 0 auto;
    width: 1200px;
}

.footer-item-child {
    display: flex;
    ;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 100px;
}

h4:first-child {
    font-family: cursive;
    border-bottom-width: 2px;
    border-bottom-style: double;
    border-bottom-color: #10A1D6;
}

.list-divider {
    list-style-type: none;
}

.list-divider li {
    margin-top: 30px;
    border-bottom: gray dotted 1px;
    color: #777777;
}

hr {
    margin-top: 50px;
    border-top: 1px dotted white;
}

.footer-item-child-contacts- {
    text-align: center;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-items: center;
    margin-top: 20px;
    position: relative;
}

#footer {
    width: 100%;
    height: min-content;
    background-color: #191919;
}

h4 {
    color: white;
}

h5 {
    color: #10A1D6;
    font-size: 17px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.text-white {
    color: white;
    font-family: monospace;
}


.each-widge {
    position: relative;
    text-align: Center;
    line-height: 35px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.each-widge::before{
    content: "";
    width: 10px;
    height: 10px;
    background-color: #10A1D6;
    position: absolute;
    transform: translateX(50%);
    top: -25px;
    display: inline-block;
    border-radius: 50%;
    
}



.each-widge>i {
    color: white;
    font-size: 1.5rem;
}

.social>li>a>i {
    color: white;
    font-size: 22px;
}

.social>li {
    text-align: Center;
    line-height: 50px;
    padding-bottom: 25px;
}

.container-fluid {
    padding: 25px;
    text-align: Center;
    color: white;
    font-size: small;
    font-style: italic;
    background-color: #222222;
}

.container-map {
    width: 1300px;
    display: grid;
    grid-template-columns: 75% 25%;
    margin-left: 200px;
    margin: auto;
}
.mapDiv{
    margin-left: 50px;
    
}

.bg-deep {
    background-color: #f1f1f1;
    margin-left: -150px;
    width: 100%;
    margin-bottom: 40px;
}

.text-title {
    color: #10A1D6;
    text-align: center;
}

.input_field>input {
    height: 45px;
    width: 80%;
    padding: 22px;
    margin: 25px;
    height: 40px;
    border: 1px solid lightgray;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.input_field>input:focus {
    border: none;
    outline: none;
}

textarea {
    resize: none;
    padding-top: 10px;
    display: block;
    width: 80%;
    height: 100%;
    margin-left: 25px;
    border: 1px solid lightgray;
    font-size: 17px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.12);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.button-57 {
    position: relative;
    margin-left: 30px;
    overflow: hidden;
    border: 1px solid #10A1D6;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    font-size: 15px;
    line-height: 15px;
    padding: 10px 20px 12px;
    text-decoration: none;
    cursor: pointer;
    background: #fff;
    background-color: #10A1D6;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-top: 30px;
}

.button-57 span:first-child {
    position: relative;
    transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 10;
}

.button-57 span:last-child {
    color: white;
    display: block;
    position: absolute;
    bottom: 0;
    transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 100;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translateY(225%) translateX(-50%);
    height: 14px;
    line-height: 13px;
}

.button-57:after {
    content: "";
    position: absolute;
    bottom: -50%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    transform-origin: bottom center;
    transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
    transform: skewY(9.3deg) scaleY(0);
    z-index: 50;
}

.button-57:hover:after {
    transform-origin: bottom center;
    transform: skewY(9.3deg) scaleY(2);
}

.button-57:hover span:last-child {
    transform: translateX(-50%) translateY(-100%);
    opacity: 1;
    transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}