* {
    margin: 0;
    padding: 0;
    box-sizing: Border-box;
    text-decoration: none;
}

body {
    line-height: 1.7;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

.container-inner {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-top {
    position: sticky;
    top: 0;
    padding: 5px 0;
    background-color: #f1f1f1;
}

ul.list {
    list-style-type: none;
    display: flex;
    gap: 24px;
    align-items: baseline;
}

.text-gray {
    text-decoration: none;
    color: #808080 !important;
    font-family: monospace;
    font-size: 17px;
}

.button-right {
    text-decoration: none;
    padding: 5px 20px;
    color: #fff;
    border: 1px solid #10a1d6;
    background-color: #10A1D6 !important
}

.header-nav {
    max-height: 70px;
    position: relative;
    top: 0px;
    z-index: 0;
    background-color: #fcfcfc;
    padding: 10px;
}

.list-nav {
    list-style-type: none;
    overflow: hidden;
    margin-left: -200px;
}

.list-nav li {
    float: left;
}

.list-nav li a:not(.active) {
    padding: 12px 14px;
    display: block;
    color: #808080;
    text-align: center;
    text-decoration: none;
    transition: 0.1s ease-in-out;
}

.list-nav li a:hover:not(.active) {
    color: white;
    background-color: #10A1D6
}

.active {
    background-color: #10A1D6;
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 12px 14px;
}

.container-footer {
    margin: 0 auto;
    width: 1200px;
}

.footer-item-child {
    display: flex;
    ;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 100px;
}

h4:first-child {
    font-family: cursive;
    border-bottom-width: 2px;
    border-bottom-style: double;
    border-bottom-color: #10A1D6;
}

.list-divider {
    list-style-type: none;
}

.list-divider li {
    margin-top: 30px;
    border-bottom: gray dotted 1px;
    color: #777777;
}

hr {
    margin-top: 50px;
    border-top: 1px dotted white;
}

.footer-item-child-contacts- {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-items: center;
    margin-top: 20px;
}

#footer {
    width: 100%;
    height: min-content;
    background-color: #191919;
}

h4 {
    color: white;
}

h5 {
    color: #10A1D6;
    font-size: 17px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.text-white {
    color: white;
    font-family: monospace;
}

.each-wedge {
    text-align: Center;
    line-height: 35px;
}

.each-widge>i {
    color: white;
    font-size: 1.5rem;
}

.social>li>a>i {
    color: white;
    font-size: 22px;
}

.social>li {
    text-align: Center;
    line-height: 50px;
}

.container-fluid {
    padding: 25px;
    text-align: Center;
    color: white;
    font-size: small;
    font-style: italic;
    background-color: #222222;
}

.container-map {
    width: 1300px;
    display: grid;
    grid-template-columns: 75% 25%;
    margin-left: 200px;
}

.bg-deep {
    background-color: #f1f1f1;
    margin-left: -200px;
    width: 100%;
    margin-bottom: 40px;
}

.text-title {
    color: #10A1D6;
    text-align: center;
}

.input_field>input {
    height: 45px;
    width: 80%;
    padding: 22px;
    margin: 25px;
    height: 40px;
    border: 1px solid lightgray;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.input_field>input:focus {
    border: none;
    outline: none;
}

textarea {
    resize: none;
    padding-top: 10px;
    display: block;
    width: 80%;
    height: 100%;
    margin-left: 25px;
    border: 1px solid lightgray;
    font-size: 17px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.12);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.button-57 {
    position: relative;
    margin-left: 30px;
    overflow: hidden;
    border: 1px solid #10A1D6;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    font-size: 15px;
    line-height: 15px;
    padding: 10px 20px 12px;
    text-decoration: none;
    cursor: pointer;
    background: #fff;
    background-color: #10A1D6;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-top: 30px;
}

.button-57 span:first-child {
    position: relative;
    transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 10;
}

.button-57 span:last-child {
    color: white;
    display: block;
    position: absolute;
    bottom: 0;
    transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 100;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translateY(225%) translateX(-50%);
    height: 14px;
    line-height: 13px;
}

.button-57:after {
    content: "";
    position: absolute;
    bottom: -50%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    transform-origin: bottom center;
    transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
    transform: skewY(9.3deg) scaleY(0);
    z-index: 50;
}

.button-57:hover:after {
    transform-origin: bottom center;
    transform: skewY(9.3deg) scaleY(2);
}

.button-57:hover span:last-child {
    transform: translateX(-50%) translateY(-100%);
    opacity: 1;
    transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}
/* banner */
.inner-header{
    background-image: url(../images/bg14.jpeg);
    background-position: center center;
    background-size: cover;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.section-content{
    background-color: #161515bf;
    height: 200px;

}
/* banner */